HOST_IP=covid19-backend
*/20 05-14 * * * /usr/local/bin/python /app/covid-19_crawler/main.py video 2>&1 | tee /app/logs/video.log
00 00-15 * * * /usr/local/bin/python /app/covid-19_crawler/main.py news 2>&1 | tee /app/logs/news.log
